:root {
    --primary-color: #2196f3;
    --gray-color: #efefef;
    --light-color: #fff;
    --dark-color: #000;

    --margin-bottom-section: 5rem
}

.navbar {
    background-color: var(--light-color);
}

.logo {
    color: var(--primary-color);
    text-transform: uppercase;
}

#header {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
}

section {
    margin-bottom: 5rem;
}