<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' ) }}">

    <title>{{ title if title else 'OmarTech Careers' }}</title>
</head>

<body>
    <nav id="navbar">
        <h1 class="logo-text"><span>OmarTech</span> Careers</h1>
        <ul class="list">
            <li class="list-item active"><a href="#">Home</a></li>
            <li class="list-item"><a href="#">Sign In</a></li>
            <li class="list-item"><a href="#">Sign Up</a></li>
        </ul>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

</body>

</html>