{% extends '_master.html' %}

{% block body %}

<section id="about">
    <h2 class="text-center text-uppercase mb-3">About <span class="logo">OmarTech</span></h2>
    <p class="lead text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Explicabo maxime aspernatur consectetur dolorum voluptate labore eum
        minus facere illum quasi saepe eaque magni eveniet excepturi nobis totam asperiores,
        ab corrupti earum tenetur nulla nostrum aperiam. Voluptatum expedita laudantium dicta.
        Soluta, natus maxime. Nihil nostrum ipsam doloribus harum sunt officiis est!
    </p>
</section>

<section id="positions">
    <h2 class="text-center text-uppercase mb-3">Open <span class="logo">Positions</span></h2>

    <div class="card">
        <ul class="list-group list-group-flush">
            {% for job in jobs %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <p class="lead mb-1">{{ job.title }}</p>
                    <p class="mb-0 fst-italic ps-2">
                        <span>Location: {{ job.location }}</span>
                        <br>
                        <span>Salary: {{ job.salary }}</span>
                    </p>
                </div>
                <a href="/" class="btn btn-outline-primary">Applay</a>
            </li>
            {% endfor %}
        </ul>
        <div class="card-footer text-center">
            <a href="/" class="btn btn-primary btn-lg">Contact Us</a>
        </div>

    </div>

</section>

{% endblock %}