{% extends '_base.html' %}

{% block body %}

<header id="hero">
    <div class="overlay"></div>
</header>

<section id="about">
    <h2>About OmarTech</h2>
    <p class="text lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Explicabo maxime aspernatur consectetur dolorum voluptate labore eum
        minus facere illum quasi saepe eaque magni eveniet excepturi nobis totam asperiores,
        ab corrupti earum tenetur nulla nostrum aperiam. Voluptatum expedita laudantium dicta.
        Soluta, natus maxime. Nihil nostrum ipsam doloribus harum sunt officiis est!
    </p>
</section>

<section id="positions">
    <h2>Open Positions</h2>
    <div class="card">
        <h5 class="card-title">TODO - Show the jops here</h5>
        <button class="card-btn">Contact Us</button>
    </div>
    <div class="card">
        <h5 class="card-title">TODO - Show the jops here</h5>
        <button class="card-btn">Contact Us</button>
    </div>
    <div class="card">
        <h5 class="card-title">TODO - Show the jops here</h5>
        <button class="card-btn">Contact Us</button>
    </div>
    <div class="card">
        <h5 class="card-title">TODO - Show the jops here</h5>
        <button class="card-btn">Contact Us</button>
    </div>
</section>

{% endblock %}